Django==1.4.3
mezzanine==1.2.4
psycopg2==2.4.5
dj-database-url==0.2.0
gunicorn==0.14.5
PyRSS2Gen==1.0.0
Twisted==12.0.0
altgraph==0.9
bdist-mpkg==0.4.4
bonjour-py==0.3
distribute==0.6.32
macholib==1.4.2
modulegraph==0.9.1
numpy==1.6.1
python-dateutil==1.5
stevedore==0.7.2
virtualenv==1.8.4
virtualenv-clone==0.2.4
virtualenvwrapper==3.6
wsgiref==0.1.2
xattr==0.6.2
zope.interface==3.5.1
